<mat-toolbar color="primary" class="toolbar">
    <span>File Management</span>
    <span class="spacer"></span>
    <span>{{ username }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Đăng xuất</span>
    </button>
</mat-menu>

<div *ngIf="showLoader" class="loading-overlay"></div>

<div class="container">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>