.mt-5px {
    margin-top: 5px;
}

.mt-10px {
    margin-top: 10px;
}

.ml-10px {
    margin-left: 10px;
}

.ml-50px {
    margin-left: 50px;
}

.w-1 {
    width: 1%;
}

.w-30 {
    width: 30%;
}

.nowrap {
    white-space: nowrap;
}

.overflow-scroll {
    overflow: auto;
}

.action {
    margin: 10px 10px 0 10px;
}

.text-center {
    text-align: center;
}