.mt-5px {
    margin-top: 5px;
}

.mt-10px {
    margin-top: 10px;
}

.ml-10px {
    margin-left: 10px;
}

.w-1 {
    width: 1%;
}

.w-30 {
    width: 30%;
}

.nowrap {
    white-space: nowrap;
}

.overflow-scroll {
    overflow: auto;
}

.action-bg {
    background-color: #fafafa;
}

.action-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    button {
        background-color: #fff;
    }

    @media screen and (max-width: 768px) {
        display: initial;
    }
}

.progress-bar {
    width: 100%;
    margin-left: 50px;

    @media screen and (max-width: 768px) {
        margin-left: 0;
        margin-top: 10px;
    }
}

.text-center {
    text-align: center;
}
