<mat-card>
    <mat-card-content>
        <div class="d-flex justify-content-right">
            <input type="file" hidden multiple (change)="onFileSelected($event)" #fileUpload>
            <button mat-raised-button color="primary" (click)="fileUpload.click()">
                <mat-icon>add</mat-icon>
                <mat-label>Upload</mat-label>
            </button>
        </div>
        <div class="mt-10px" [style.visibility]="isUploading ? 'visible' : 'hidden'">
            <mat-label>Uploaded: {{ uploadProgress }}%</mat-label>
            <mat-progress-bar class="mt-5px" color="primary" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="mt-10px">
    <mat-paginator #paginatorTop [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
        (page)="paginatorBottom.pageSize = $event.pageSize; paginatorBottom.pageIndex = $event.pageIndex; onPageEvent($event)">
    </mat-paginator>

    <div class="overflow-scroll">
        <table mat-table [dataSource]="listData" class="mat-elevation-z8">
            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>No</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    {{ pageIndex * pageSize + i + 1 }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="file_name">
                <th mat-header-cell *matHeaderCellDef>File Name</th>
                <td mat-cell *matCellDef="let element">
                    {{ element.file_name }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="file_size">
                <th mat-header-cell *matHeaderCellDef>Size</th>
                <td mat-cell *matCellDef="let element" class="nowrap">
                    {{ element.file_size | fileSize }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef class="w-1">Created</th>
                <td mat-cell *matCellDef="let element" class="nowrap">
                    {{ element.created | date: 'short' }}
                </td>
            </ng-container>
    
            <ng-container matColumnDef="tool">
                <th mat-header-cell *matHeaderCellDef class="w-1"></th>
                <td mat-cell *matCellDef="let element" class="nowrap">
                    <button mat-mini-fab color="primary" (click)="downloadFile(element.id)">
                        <mat-icon>download</mat-icon>
                    </button>
                    <button class="ml-10px" mat-mini-fab color="warn" (click)="deleteFile(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    No data
                </td>
            </tr>
        </table>
    </div>

    <mat-paginator #paginatorBottom [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
        (page)="paginatorTop.pageSize = $event.pageSize; paginatorTop.pageIndex = $event.pageIndex; onPageEvent($event)">
    </mat-paginator>
</mat-card>