.mt-5px {
    margin-top: 5px;
}

.mt-10px {
    margin-top: 10px;
}

.ml-10px {
    margin-left: 10px;
}

.w-1 {
    width: 1%;
}

.nowrap {
    white-space: nowrap;
}

.overflow-scroll {
    overflow: auto;
}