<mat-card>
    <mat-card-content>
        <div class="d-flex justify-content-right">
            <button mat-raised-button color="primary">
                <mat-icon>add</mat-icon>
                <mat-label>Upload</mat-label>
            </button>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="mt-10px">
    <mat-paginator #paginatorTop [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
        (page)="paginatorBottom.pageSize = $event.pageSize; paginatorBottom.pageIndex = $event.pageIndex; onPageEvent($event)">
    </mat-paginator>
    aaaa
    <mat-paginator #paginatorBottom [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
        (page)="paginatorTop.pageSize = $event.pageSize; paginatorTop.pageIndex = $event.pageIndex; onPageEvent($event)">
    </mat-paginator>
</mat-card>